/* Common Style Code Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  /* border: 0.1px solid red; */
}

:root {
  --headercolor: #1a1819;
  --footercolor: #1a1819;
  --bodycolor: #2a1c3fdc;
  --containercolor: rgb(227, 177, 61);
  --cont-containercolor: blue;
  --hero-sec-textcolor: #ffa800;
  --button-backgroundcolor: #920ccf;
  --imagebackgroundcolor: #e1d8d9;
}

html {
  font-size: 62.5%;
}
body {
  background-color: var(--bodycolor);
}

/* Common Style Code End */

/* Header Section Code */
header {
  width: 100%;
  background-color: var(--headercolor);
  height: 10vh;
  box-shadow: 0 0.2rem 6rem 0 rgb(13, 13, 13);
}

.navbar {
  height: inherit;
  width: 100vw;
  padding: 0 10rem 0 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

  & logo {
    display: flex;
    align-items: center;
  }
}

.logo img {
  height: 5rem;
  width: 5rem;
  @media (width <=430px) {
    height: 10rem;
    width: 10rem;  
  }
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 1.7rem;

  & li a {
    text-decoration: none;
    font-weight: 500;
    padding: 1rem 4rem;
    border-radius: 1rem;
    color: rgb(234, 234, 234);
    font-size: 2rem;

    &:hover {
      transition: all 0.3s linear;
      color: rgb(197, 252, 0);
      background-color: rgb(55, 54, 54);
    }

    &:active {
      transition: all o.3s linear;
      color: rgb(197, 252, 0);
      background-color: rgb(91, 89, 89);
    }
  }
}
#lastchild {
  padding-right: 0;
}

/* Header Section Code End */

/* Main Section Code Start */

/* Main -> Home Section */
.hero {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: auto 0;

  & .intro {
    height: 30rem;
    width: 35rem;
    @media (width <= 430px) {
      height: 60rem;
      width: 70rem;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;

    & .main-section-intro {
      color: var(--hero-sec-textcolor);
      font-size: 2.5rem;
      @media (width <= 430px) {
        font-size: 4rem;
      }
    }

    & h1 {
      font-size: 4rem;
      font-weight: 65rem;
      color: rgb(228, 225, 225);
      @media (width <= 430px) {
        font-size: 8rem;
      }
    }

    & .main-section-desc {
      font-size: 1.8rem;
      color: rgb(190, 196, 196);
      @media (width <= 430px) {
        font-size: 4rem;
        text-align: center;
        line-height: 6rem;
      }
    }
  }

  & .image {
    height: 45rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (width <= 430px) {
      height: 70rem;
      aspect-ratio: 1;
    }

    & .imageplaceholder {
      height: 40rem;
      width: 40rem;

      @media (width <= 430px) {
        height: 70rem;
        width: 70rem;
      }

      border-radius: 50%;
      border: 0.5rem solid rgb(251, 251, 251);
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("image.png");
      background-size: cover;
      box-shadow: 0 0 0 0.7rem rgb(13, 169, 73),
        0 1rem 4rem 1rem rgba(63, 63, 63, 0.211);
    }
  }
}

/* Main -> Home section End */

/* Main -> Notes section Start */
.my-notes-class {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    min-height: 50rem;
    width: 70rem;
    @media (width <= 430px) {
      min-height: 120rem;
      width: 80rem;
    }
    background-color: var(--containercolor);
    box-shadow: 0 1rem 4rem 0 rgb(28, 26, 26);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    @media (width <= 430px) {
      gap: 8rem;
    }
 

    & .notes-label {
      display: flex;
      justify-content: center;
      font-size: 4rem;
      font-weight: 600;
      margin-top: 2rem;
      color: rgb(46, 45, 45);
      border-bottom: 2px solid rgb(83, 81, 81);

      @media (width <= 430px) {
        font-size: 8rem;
        padding: 5rem 0;
      }
    }
  }

  .semesters-note {
    min-height: 36rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    gap: 3rem;

    &:last-child{
      margin-bottom: 5rem;
    }




    & a {
      height: 5rem;
      width: 30rem;
      font-size: 2.5rem;
      @media (width <= 430px) {
        font-size: 4.5rem;
        height: 10rem;
        width: 60rem;
      }
      font-weight: 500;
      background-color: rgb(146, 249, 148);
      border-radius: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }

    & a:hover {
      color: white;
      background-color: black;
      transition: all 0.3s linear;
    }

    & a:active {
      color: white;
      background-color: rgb(56, 55, 55);
      transition: all 0.3s linear;
    }
  }
}

/* Main -> Notes Section End */

/* Main -> About Me Section Start */
.aboutme {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  & .about-me-container {
    height: 50rem;
    width: 80rem;
    background-color: var(--containercolor);
    box-shadow: 0 1rem 4rem 0 rgb(28, 26, 26);
    border-radius: 2rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (width <= 430px) {
      height: 140rem;
      width: 80rem;
    }

    & h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2.5rem;
      font-size: 3rem;
      font-weight: 700;
      width: 100%;
      border-bottom: 2px solid rgb(83, 81, 81);
      
      @media (width <= 430px) {
        font-size: 7rem;
        margin-bottom: 5rem;
      }
      color: rgb(46, 45, 45);
    }

    & p {
      font-size: 1.9rem;
      padding: 0.5rem 0;
      line-height: 2.5rem;
      @media (width <= 430px) {
        font-size: 4rem;
        line-height: 5rem;
      }

      & .highlighter {
        font-size: 2.5rem;
        font-weight: 400;
        @media (width <= 430px) {
          font-size: 5rem;
        }
      }
    }

    & .about-me-thanks {
      display: block;
      display: flex;

      justify-content: right;
      margin-top: 4rem;
      font-size: 2rem;

      @media (width <= 430px) {
        font-size: 4.5rem;
      }
    }
  }
}

/* Main -> About Me Section End */

/* Main -> Contact Me Section Start */
.contact-me {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  & .form {
    height: 45rem;
    width: 40rem;
    @media (width <= 430px) {
      height: 100rem;
      width: 80rem;
    }
    background-color: var(--containercolor);
    box-shadow: 0 1rem 4rem 0 rgb(28, 26, 26);
    border-radius: 2rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;

    & .contact-me {
      height: 5rem;
      width: 35rem;
      font-size: 3rem;
      font-weight: 700;
      color: rgb(46, 45, 45);
      @media (width <= 430px) {
        font-size: 6rem;
        height: 8rem;
        width: 70rem;
        margin: 3rem 0;
      }
    }

    & label {
      @media (width <= 430px) {
        font-size: 4rem;
        height: 4rem;
        width: 70rem;
      }
    }

    & #name,
    #email {
      font-size: 1.5rem;
      height: 7rem;
      width: 30rem;
      padding: 0 0.5rem;
      border: 0.1rem solid rgb(106, 103, 103);
      border-radius: 0.5rem;
      margin-bottom: 2rem;


      @media (width <= 430px) {
        font-size: 4rem;
        height: 10rem;
        width: 70rem;
        padding-left: 2rem;
        margin: 1rem 0 5rem 0;
      }
    }

    label[for="message-me"] {
      padding-bottom: 0.4rem;
    }
    & #message-me {
      font-size: 1.5rem;
      width: 30rem;
      height: 15rem;
      padding: 0.5rem;
      border: 0.1rem solid rgb(96, 94, 94);
      border-radius: 0.5rem;
      margin-bottom: 2rem;

      @media (width <= 430px) {
        font-size: 4rem;
        height: 30rem;
        width: 70rem;
        padding: 2rem;
        margin: 1rem 0 5rem 0;
      }
    }

    & input[type="reset"],
    input[type="submit"] {
      height: 3.5rem;
      width: 9rem;
      border-radius: 0.5rem;
      border: 0.1rem solid rgb(27, 26, 26);
      background-color: rgb(27, 118, 237);
      color: rgb(239, 235, 235);
      font-size: 1.5rem;

      @media (width <= 430px) {
        font-size: 4rem;
        height: 8rem;
        width: 24rem;
        padding: 2rem;
        margin: 1rem 0 5rem 0;
        border-radius: 1rem;
      }

      &:hover {
        background-color: rgb(0, 89, 206);
        color: rgb(242, 239, 239);
      }

      &:active {
        background-color: rgb(100, 153, 223);
        color: rgb(242, 239, 239);
      }
    }

    & .buttons {
      display: flex;
      justify-content: end;
      gap: 2rem;
    }
  }
}

/* Main -> Contact Me Section End */

/* Main Section Code End */

/* Footer Section Code Start */

footer {
  height: 10vh;
  width: 100%;
  background-color: var(--footercolor);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  & .copyright {
    font-size: 1.5rem;
    color: white;
  }

  & .social-media ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin-top: 0.5rem;
    font-size: 2rem;

    & a {
      color: white;

      &:hover {
        color: rgb(106, 229, 245);
      }
      &:active {
        color: rgb(61, 62, 61);
      }
    }
  }
}

/* Footer Section Code End */

/* Media Queries Section */

@media (width<=1050px) {
  html {
    font-size: 50%;
  }
}

@media (width<=430px) {
  html {
    font-size: 30%;
  }
  .hero {
    flex-direction: column-reverse;

    & .intro {
      align-items: center;
    }
  }
}

/* Media Queries Section End */
